.add-contact {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  &-link {
    display: flex;
    gap: 10px;
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &-label {
    font-size: 24px;
  }
}
