<div class="details">
  <div class="details-controls">
    @if(isShowControls) {
    <div class="details-controls">
      @if(!isDetailsPage) {
      <a class="details-btn" [routerLink]="'/details/' + contact.id">
        <app-icon iconName="MAXIMIZE" stroke="#eef0f2" size="32"></app-icon>
      </a>
      }

      <a class="details-btn" [routerLink]="'/edit/' + contact.id">
        <app-icon iconName="EDIT" stroke="#eef0f2" size="32"></app-icon>
      </a>

      @if(state.isConfirmDelete()) {
      <button
        class="details-btn"
        (click)="onConfirmDelete()"
        (mouseleave)="onMouseLeaveDelete()"
      >
        <app-icon iconName="DANGER" stroke="#a4161a" size="32"></app-icon>
      </button>
      } @else {
      <button class="details-btn" (click)="onDelete()">
        <app-icon iconName="DELETE" stroke="#eb5e28" size="32"></app-icon>
      </button>
      }
    </div>
    }
  </div>

  <div class="details-img">
    {{ contact?.firstName.substring(0, 1).toUpperCase() || "" }}
  </div>

  <h2 class="details-name">{{ getName() }}</h2>

  @if(contact.organization) {
  <span class="details-organization-prev">{{ contact.organization }}</span>
  }

  <app-contact-info class="details-block" [contact]="contact">
  </app-contact-info>

  <app-contact-about class="details-block" [contact]="contact">
  </app-contact-about>

  @if(!isPreview && contact.createdAt) {
  <span class="details-created">Added {{ contact.createdAt | date }}</span>
  }
</div>
