:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: bold;
  }

  &-name {
    font-size: 48px;
    color: var(--yellow);
    margin: 10px 0;
  }

  &-organization-prev {
    margin-bottom: 20px;
  }
}

.block {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--black-hover);
  width: 350px;

  &-title {
    margin: 0 0 20px;
  }

  &-content {
    display: flex;
    gap: 10px;
  }

  &-elem {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-link {
    margin-left: auto;
  }

  &-value {
    display: block;
    font-size: 24px;
  }

  &-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-icon {
    align-self: flex-start;
  }
}

.block + .block {
  margin-top: 20px;
}

.block-content + .block-content {
  margin-top: 20px;
}
