:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  max-width: 600px;
  width: 100%;

  &-controls {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-bottom: 10px;
  }

  &-btn {
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s;

    &:hover {
      background-color: var(--black-hover);
    }
  }

  &-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: bold;
    flex-shrink: 0;
  }

  &-name {
    font-size: 48px;
    color: var(--yellow);
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 100%;
    word-break: normal;
    flex-shrink: 0;
  }

  &-organization-prev {
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
  }

  &-created {
    margin-top: 20px;
  }
}

.details-block + .details-block {
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .contact {
    width: 100%;
  }

  .details-name {
    font-size: 36px;
  }

  .details-img {
    width: 150px;
    height: 150px;
    font-size: 100px;
  }
}

@media screen and (max-width: 400px) {
  .details {
    min-width: unset;
  }
}
