@if(contact.phones[0]?.number || contact.emails[0]?.email) {
<div class="block details-info">
  <h3 class="block-title">Contact info</h3>

  @if(contact.phones[0]?.number) {
  <div class="block-content">
    <app-icon class="block-icon" iconName="CONTACTS" size="32"></app-icon>

    <div class="block-list">
      @for (phone of contact.phones | filterEmpty:'number'; track $index) {
      <div class="block-elem">
        <div class="block-values">
          <span class="block-value">{{ phone.number }}</span>
          <span class="block-label">{{ phone.label }}</span>
        </div>

        <a class="block-link" href="{{ 'tel:' + phone.number }}">
          <app-icon iconName="PHONE" size="32"></app-icon>
        </a>
      </div>
      }
    </div>
  </div>
  } @if(contact.emails[0]?.email) {
  <div class="block-content">
    <app-icon class="block-icon" iconName="MESSAGES" size="32"></app-icon>

    <div class="block-list">
      @for (email of contact.emails | filterEmpty:'email'; track $index) {
      <div class="block-elem">
        <div class="block-values">
          <span class="block-value-sm">{{ email.email }}</span>
          <span class="block-label">{{ email.label }}</span>
        </div>

        <a class="block-link" href="{{ 'mailto:' + email.email }}">
          <app-icon iconName="EMAIL" size="32"></app-icon>
        </a>
      </div>
      }
    </div>
  </div>
  }
</div>
}
