.search {
  display: flex;
  gap: 10px;
  padding: 5px;
  border: 2px solid var(--white);
  border-radius: 3px;

  &-input {
    color: var(--white);
    padding: 5px 10px;
    width: 250px;
  }
}

@media screen and (max-width: 360px) {
  .search-input {
    width: 200px;
  }
}
