<div
  class="contact"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  (click)="onContactClick()"
  [ngClass]="{ 'contact-selected': isSelected }"
>
  <div class="contact-image">
    {{ contact.firstName.substring(0, 1).toUpperCase() }}
  </div>

  <div class="contact-info">
    <span class="contact-name">
      {{ contact.firstName + " " + contact.lastName }}
    </span>
    <span class="contact-phone">{{ contact.phones[0]?.number ?? "" }}</span>
  </div>

  @if (state.isHovered()) {
  <div class="contact-controls">
    <a class="contact-edit" [routerLink]="'edit/' + contact.id">
      <app-icon iconName="EDIT" stroke="#eef0f2" size="32"></app-icon>
    </a>

    @if(state.isConfirmDelete()) {
    <button class="contact-confirm" (click)="onConfirmDelete()">
      <app-icon iconName="DANGER" stroke="#a4161a" size="32"></app-icon>
    </button>
    } @else {
    <button class="contact-delete" (click)="onDelete()">
      <app-icon iconName="DELETE" stroke="#eb5e28" size="32"></app-icon>
    </button>
    }
  </div>
  }
</div>

<div class="contact-mobile">
  <a class="contact-link" routerLink="/details/{{ contact.id }}">
    <div class="contact-image">{{ contact.firstName.substring(0, 1) }}</div>

    <div class="contact-info">
      <span class="contact-name">
        {{ contact.firstName + " " + contact.lastName }}
      </span>
      <span class="contact-phone">{{ contact.phones[0]?.number ?? "" }}</span>
    </div>
  </a>
</div>
