.contact {
  border-radius: 20px;
  padding: 10px;
  transition: all 0.5s;
  display: flex;
  width: 350px;

  &-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: 30px;
    font-weight: bold;
  }

  &-name {
    display: -webkit-box;
    font-size: 24px;
    color: var(--yellow);
    margin-bottom: 5px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-phone {
    font-size: 18px;
    color: var(--white);
    opacity: 0.8;
  }

  &-controls {
    display: flex;
    gap: 8px;
    margin-left: 20px;
    margin-left: auto;
  }

  &-edit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-mobile {
    display: none;
  }

  &-link {
    display: flex;
    padding: 10px;
    transition: all 0.5s;
    border-radius: 20px;

    &:hover {
      background-color: var(--black);
      transform: translateY(-2px);
    }
  }

  &:hover {
    background-color: var(--black);
    transform: translateY(-2px);
  }
}

@media screen and (max-width: 800px) {
  .contact {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .contact {
    display: none;
  }

  .contact-mobile {
    display: block;
  }
}
